<!-- 增强版MathJax配置，支持GitHub格式 -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      // 支持多种格式
      inlineMath: [
        ['$','$'], 
        ['\\(','\\)'],
        ['$`','`$']  // 添加对GitHub格式的支持
      ],
      displayMath: [
        ['$$','$$'], 
        ['\\[','\\]']
      ],
      processEscapes: true,
      processEnvironments: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      TeX: { 
        equationNumbers: { autoNumber: "AMS" },
        extensions: ["AMSmath.js", "AMSsymbols.js"] 
      }
    },
    "HTML-CSS": { 
      styles: {
        ".MathJax": {
          color: "#c9c9c9 !important"
        }
      }
    }
  });
</script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
